@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" />
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ProfilePictureUrl" class="form-control" id="pfp_url" oninput="setImg(value)"/>
                <label asp-for="Input.ProfilePictureUrl" class="form-label"></label>
            </div>
            <img src="/defaultResources/pfp.gif" class="pfp" id="user_pfp"/>
            <script>
                let url = document.getElementById("pfp_url");
                let img = document.getElementById("user_pfp");
                let default_src = img.src;
                function setImg(path){
                    if (!path){
                        path = default_src;    
                    }
                    img.src = path;
                }
                setImg(url.value);
            </script>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
