@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["StaticBackground"] = "https://ids.si.edu/ids/deliveryService?max_w=800&id=CHSDM-424AD083A4482-000001";
}

<div class="text-center">
    <h1 class="display-4">Welcome to $Petgame</h1>
    <p>Its a forum, how hard can it be.</p>
    <p>This is a very young and experimental version of what might become a virtual pet game 
        by <a href="https://twitter.com/totallyRonja">Ronja</a> and <a href="https://twitter.com/mulmbot">Rikke</a>.
    </p>
</div>