@page "{id}"
@using PetGameForum.Util
@model PetGameForum.Pages.PlayerModel

@{
    ViewData["Title"] = Model.User.UserName;
}

<h1>@Model.User.UserName</h1>

<img src="@Model.User.Pfp()"/>

<p>
    @Model.User.Description.MapOrNOW("no description set") 
</p>