@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        We will only collect the data that is reasonable for interaction or moderation purposes.
    </li>
    <li>
        We will not sell any personal data to third parties.
    </li>
    <li>
        We may use any information collected for current or future interaction or moderation purposes.
    </li>
    <li>
        We may send you emails required for the website to work and major updates, that you will be able to unsubscribe from. (to be implemented)
    </li>
    <li>
        If you create an account, we will store cookies in your browser for functionality purposes.
    </li>
    <li>
        If you have any questions about your data, <a href="mailto: petgame-data@ronja.space">contact us</a>.
    </li>
</ul>