html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.forum-threadlist {
  width: 100%;
}

.forum-threadlist tr:nth-child(2n+0) {
  background-color: #b1d1b9;
}
.forum-threadlist tr:nth-child(2n+1) {
  background-color: #b1d0d1;
}

.post-user {
  width: 200px;
  vertical-align: top;
}

.post-deleted {
  background-color: lightcoral;
}

.post-timestamp {
  text-align: right;
  color: grey;
  font-size: 10px;
}

.delete-role-btn {
  background-color: red;
  color: black;
  width: 20px;
  height: 20px;
  margin: 4px;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  border-style: hidden;
  padding-bottom: 5px;
}

.role {
  border-radius: 5px; 
  border-style: solid;
  border-width: 2px; 
  float: left; 
  padding: 0 0 0 5px; 
  color: white;
}

.role:nth-child(5n+0){
  background-color: rebeccapurple;
}
.role:nth-child(5n+1){
  background-color: saddlebrown;
}
.role:nth-child(5n+2){
  background-color: DarkSlateGrey;
}
.role:nth-child(5n+3){
  background-color: Maroon;
}
.role:nth-child(5n+4){
  background-color: DarkGoldenRod;
}

.pfp{
  width: 100px;
  height: 100px;
}

.sitelen_pona{
  font-family: linja_sike, fantasy;
  display: contents;
  font-size: 150%;
}

@font-face {
  font-family: 'linja_sike';
  src: url('/font/sitelen-pona/linja-sike-5-webfont.woff2') format('woff2'),
    url('/font/sitelen-pona/linja-sike-5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}