html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.forum-threadlist {
  width: 100%;
}

.post-user {
  width: 200px;
  vertical-align: top;
}

.post-deleted {
  background-color: lightcoral;
}

.post-timestamp {
  text-align: right;
  color: grey;
  font-size: 10px;
}